@font-face {
  font-family: 'GT Maru';
  src: url('/GT-Maru/GT-Maru-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Maru';
  src: url('/GT-Maru/GT-Maru-Regular-Oblique.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'GT Maru';
  src: url('/GT-Maru/GT-Maru-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Maru';
  src: url('/GT-Maru/GT-Maru-Light-Oblique.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'GT Maru';
  src: url('/GT-Maru/GT-Maru-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Maru';
  src: url('/GT-Maru/GT-Maru-Medium-Oblique.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'GT Maru';
  src: url('/GT-Maru/GT-Maru-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Maru';
  src: url('/GT-Maru/GT-Maru-Bold-Oblique.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'GT Maru';
  src: url('/GT-Maru/GT-Maru-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Maru';
  src: url('/GT-Maru/GT-Maru-Black-Oblique.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'GT Maru Mega';
  src: url('/GT-Maru/GT-Maru-Mega-Mini.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Maru Mega';
  src: url('/GT-Maru/GT-Maru-Mega-Midi.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Maru Mega';
  src: url('/GT-Maru/GT-Maru-Mega-Maxi.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --yellow: #FFC03C;
  --purple: #FF00EA;
  --red: #FF2200;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'GT Maru', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Ensure form controls inherit GT Maru globally */
input, textarea, select, button {
  font-family: 'GT Maru', Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}


